<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete</title>
</head>
<body>
        <h1>Delete user1</h1>
        <form method="POST" action="/delete">
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" class="form-control" placeholder="Enter login" name="login">
            </div>
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
    
</body>
</html>